In [1]:
import pandas as pd
import numpy as np

In [2]:
from src.PortfolioIndicator import PortfolioIndicator
from src.PortfolioConstructor import PortfolioConstructor

In [3]:
from scipy.stats import ttest_rel

In [4]:
def portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number):
    
    complete_ret_sub_df = universe_df.pct_change(periods=momentum_period).shift(waiting_time).dropna()
    complete_ret_sub_df_long = complete_ret_sub_df.stack()
    
    signal_df = complete_ret_sub_df_long.index.to_frame()
    signal_df.index = range(0,signal_df.shape[0])
    signal_df["momentum"] = list(complete_ret_sub_df_long)
    signal_df.columns=["date","ticker","momentum"]
    
    rebalance_date_series = list(complete_ret_sub_df.index)
    
    portfolio_indicator = PortfolioIndicator()
    portfolio_indicator = portfolio_indicator.create_indicator(signal_df,"momentum",rebalance_date_series,portfolio_number)
    
    complete_sub_df_1 = universe_df.pct_change().dropna()
    complete_sub_df_1_long = complete_sub_df_1.stack()
    
    index_df = complete_sub_df_1_long.index.to_frame()
    index_df["ret"] = complete_sub_df_1_long
    index_df.index=range(0,index_df.shape[0])
    index_df.columns = ["date","ticker","ret"]
    return_df = index_df
    
    merge_df = return_df.merge(portfolio_indicator,on=["date","ticker"])
    
    portfolio_constructor = PortfolioConstructor(merge_df)
    strategy_ret_df = portfolio_constructor.create_portfolio_series("momentum_indicator",equal_weight=True)
    
    return strategy_ret_df

In [5]:
df = pd.read_csv("data/yahoo_finance_data.csv")

In [6]:
df["date"] = pd.to_datetime(df["date"])

In [7]:
vol_df = df.pivot_table(columns="ticker",values="volume",index="date")
price_df = df.pivot_table(columns="ticker",values="price",index="date")

### Volume Filter

In [8]:
momentum_period = 1
waiting_time = 1
portfolio_number = 3

In [9]:
volume_threshold = 100

In [10]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_100 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

93
initialized.

In [11]:
volume_threshold = 1000

In [12]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_1000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

85
initialized.

In [13]:
volume_threshold = 10000

In [14]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_10000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

71
initialized.

In [15]:
volume_threshold = 20000

In [16]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_20000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

68
initialized.

In [17]:
volume_threshold = 30000

In [18]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_30000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

67
initialized.

In [19]:
volume_threshold = 40000

In [20]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_40000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

64
initialized.

In [21]:
volume_threshold = 50000

In [22]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_50000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

61
initialized.

In [23]:
volume_threshold = 100000

In [24]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_100000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

56
initialized.

In [25]:
volume_threshold = 500000

In [26]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_500000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

33
initialized.

In [27]:
volume_threshold = 1000000

In [28]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_1000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

28
initialized.

In [29]:
volume_threshold = 2000000

In [30]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_2000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

23
initialized.

In [31]:
volume_threshold = 3000000

In [32]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_3000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

19
initialized.

In [33]:
volume_threshold = 10000000

In [34]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_10000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

16
initialized.

In [50]:
volume_threshold = 50000000

In [51]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_50000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

10
initialized.

In [52]:
asset_list

['BCH-USD',
 'BTC-USD',
 'DASH-USD',
 'EOS-USD',
 'ETC-USD',
 'ETH-USD',
 'LTC-USD',
 'QTUM-USD',
 'USDT-USD',
 'XRP-USD']

### Comparison of Portfolio Performance

#### Bacis Comparision

In [37]:
port_ret_df_100.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.002847     0.000630    -0.002049
std                    0.047402     0.045791     0.046784
min                   -0.420271    -0.419303    -0.394592
25%                   -0.017109    -0.018090    -0.021921
50%                    0.005078     0.003863     0.001053
75%                    0.025544     0.023479     0.020426
max                    0.244534     0.191574     0.202860

In [38]:
port_ret_df_1000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.002163     0.000539    -0.001328
std                    0.047534     0.046093     0.047522
min                   -0.422470    -0.417367    -0.394257
25%                   -0.018178    -0.018673    -0.021556
50%                    0.004927     0.003729     0.001489
75%                    0.025208     0.022309     0.021652
max                    0.215183     0.191081     0.212555

In [39]:
port_ret_df_10000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000979     0.000823    -0.000840
std                    0.048083     0.046801     0.047765
min                   -0.430075    -0.421122    -0.387376
25%                   -0.018696    -0.018604    -0.021158
50%                    0.004860     0.004026     0.001534
75%                    0.024302     0.022789     0.022928
max                    0.226835     0.189612     0.199069

In [40]:
port_ret_df_20000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000897     0.000874    -0.000804
std                    0.048097     0.046926     0.047866
min                   -0.429720    -0.418539    -0.385715
25%                   -0.018945    -0.018799    -0.021561
50%                    0.005044     0.003796     0.001924
75%                    0.023979     0.023501     0.022258
max                    0.216287     0.191212     0.201453

In [41]:
port_ret_df_30000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000792     0.000873    -0.000810
std                    0.048013     0.047068     0.047834
min                   -0.429720    -0.416318    -0.384967
25%                   -0.019210    -0.018646    -0.021823
50%                    0.004742     0.003335     0.001748
75%                    0.024236     0.023124     0.022690
max                    0.218631     0.190886     0.204735

In [42]:
port_ret_df_40000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000530     0.000803    -0.000550
std                    0.047722     0.047013     0.047915
min                   -0.425313    -0.415423    -0.390681
25%                   -0.019458    -0.019169    -0.020879
50%                    0.004225     0.003745     0.001720
75%                    0.023707     0.022595     0.022884
max                    0.209365     0.195052     0.207096

In [43]:
port_ret_df_50000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000469     0.000808    -0.000430
std                    0.047733     0.046780     0.048078
min                   -0.420566    -0.415609    -0.385482
25%                   -0.019376    -0.018845    -0.020552
50%                    0.003790     0.003931     0.001489
75%                    0.023755     0.023672     0.023358
max                    0.211421     0.195555     0.211856

In [44]:
port_ret_df_100000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                   0.000206     0.001020    -0.000424
std                    0.048038     0.047122     0.048431
min                   -0.411898    -0.422585    -0.379079
25%                   -0.019802    -0.018735    -0.021736
50%                    0.003639     0.004002     0.001183
75%                    0.023886     0.023455     0.023364
max                    0.220559     0.182869     0.212545

In [45]:
port_ret_df_2000000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                  -0.000096     0.000059     0.001416
std                    0.046738     0.046554     0.047072
min                   -0.381209    -0.369715    -0.330539
25%                   -0.019869    -0.020290    -0.020753
50%                    0.002633     0.001162     0.002775
75%                    0.021533     0.022486     0.022745
max                    0.219056     0.200167     0.191805

In [46]:
port_ret_df_3000000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                  -0.000023     0.000241     0.001171
std                    0.046568     0.047377     0.047253
min                   -0.371861    -0.359741    -0.328822
25%                   -0.019452    -0.020346    -0.020861
50%                    0.002046     0.001331     0.001644
75%                    0.022370     0.022354     0.023283
max                    0.201784     0.180933     0.197636

In [47]:
port_ret_df_10000000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                  -0.000059    -0.000440     0.001711
std                    0.046483     0.046410     0.047608
min                   -0.378020    -0.385143    -0.308675
25%                   -0.018513    -0.018402    -0.020565
50%                    0.001173     0.000547     0.001056
75%                    0.021021     0.022402     0.023105
max                    0.194140     0.157787     0.215177

In [48]:
port_ret_df_50000000.describe()

momentum_indicator            0            1            2
count               1095.000000  1095.000000  1095.000000
mean                  -0.000376    -0.000186     0.001688
std                    0.045549     0.045752     0.045511
min                   -0.387717    -0.384858    -0.252459
25%                   -0.016911    -0.017539    -0.019849
50%                    0.000008    -0.000040     0.001384
75%                    0.019403     0.019403     0.019646
max                    0.241526     0.191565     0.266613

#### Sharpe Ratio

In [ ]:
port_ret_df_100.mean()/port_ret_df_100.std()

In [ ]:
port_ret_df_1000.mean()/port_ret_df_1000.std()

In [ ]:
port_ret_df_10000.mean()/port_ret_df_10000.std()

In [ ]:
port_ret_df_20000.mean()/port_ret_df_20000.std()

In [ ]:
port_ret_df_30000.mean()/port_ret_df_30000.std()

In [ ]:
port_ret_df_40000.mean()/port_ret_df_40000.std()

In [ ]:
port_ret_df_50000.mean()/port_ret_df_50000.std()

In [ ]:
port_ret_df_100000.mean()/port_ret_df_100000.std()

In [ ]:
port_ret_df_500000.mean()/port_ret_df_500000.std()

In [ ]:
port_ret_df_1000000.mean()/port_ret_df_1000000.std()

In [ ]:
port_ret_df_2000000.mean()/port_ret_df_2000000.std()

In [ ]:
port_ret_df_3000000.mean()/port_ret_df_3000000.std()

#### T-test

In [ ]:
test_df = port_ret_df_50000000

In [ ]:
ttest_rel(test_df[0],test_df[1])

In [ ]:
ttest_rel(test_df[1],test_df[2])

In [ ]:
ttest_rel(test_df[0],test_df[2])

### Double Sort Method

In [11]:
universe_df = price_df

In [12]:
complete_ret_sub_df = universe_df.pct_change(periods=momentum_period).shift(waiting_time).dropna()
complete_ret_sub_df_long = complete_ret_sub_df.stack()

In [13]:
volume_df = df[["date","ticker","volume"]]
volume_df = volume_df.set_index(["date","ticker"])["volume"]

In [14]:
signal_df = pd.concat([complete_ret_sub_df_long,volume_df],axis=1).dropna()
signal_df.columns = ["momentum","volume"]

index_df = signal_df.index.to_frame()
index_df.index = range(0,index_df.shape[0])

signal_df.index = range(0,signal_df.shape[0])

index_df["momentum"] = signal_df["momentum"]
index_df["volume"] = signal_df["volume"]

signal_df = index_df

In [15]:
rebalance_date_series = list(signal_df["date"])

In [18]:
signal_df

             date    ticker  momentum       volume
0      2018-01-02   ADA-USD  0.012453  289712000.0
1      2018-01-02   ADX-USD  0.114517   36135500.0
2      2018-01-02    AE-USD -0.015999    2867610.0
3      2018-01-02   ANT-USD  0.098899    3763910.0
4      2018-01-02  ARDR-USD -0.065361   35898800.0
...           ...       ...       ...          ...
112479 2021-01-03   XVG-USD  0.010035   23389208.0
112480 2021-01-03   XZC-USD -0.012876    3361756.0
112481 2021-01-03   ZEC-USD  0.017821  723282432.0
112482 2021-01-03   ZEN-USD -0.004642   20377882.0
112483 2021-01-03   ZRX-USD -0.038934   71434048.0

[112484 rows x 4 columns]

In [20]:
portfolio_indicator = PortfolioIndicator()

initialized.

In [21]:
port_indicator = portfolio_indicator.create_indicator_double_sort(signal_df,
                                                 signal_1_name="momentum",
                                                 signal_2_name="volume",
                                                 number_1=3,
                                                 number_2=4,
                                                 rebalance_date_series=rebalance_date_series)

In [22]:
complete_sub_df_1 = universe_df.pct_change().dropna()
complete_sub_df_1_long = complete_sub_df_1.stack()
    
index_df = complete_sub_df_1_long.index.to_frame()
index_df["ret"] = complete_sub_df_1_long
index_df.index=range(0,index_df.shape[0])
index_df.columns = ["date","ticker","ret"]
return_df = index_df

In [23]:
merge_df = return_df.merge(port_indicator,on=["date","ticker"])

In [24]:
portfolio_constructor = PortfolioConstructor(merge_df)

In [25]:
ret_df = portfolio_constructor.create_portfolio_series_double_sorting(signal_1="volume_indicator",
                                                             signal_2="momentum_indicator",
                                                             equal_weight=True,
                                                             pivot_table=True)

In [27]:
ret_df.to_csv("data/double_sort_portfolio_ret.csv")

In [30]:
ret_df.mean()/ret_df.std()

volume_indicator  momentum_indicator
0                 0                     0.093118
                  1                    -0.060330
                  2                    -0.231229
1                 0                     0.033682
                  1                    -0.018157
                  2                    -0.119372
2                 0                     0.047298
                  1                     0.067116
                  2                    -0.031842
3                 0                     0.053287
                  1                     0.050379
                  2                     0.126838
dtype: float64

In [57]:
0.126838 * ((365)**0.5)

2.4232365875126596