In [1]:
import pandas as pd
import numpy as np

from yahoo_fin.stock_info import get_data
import datetime

In [87]:
date_0 = "2021-01-17"
date_1 = "2021-01-18"

In [88]:
log_directory = "new_log/"

In [89]:
top_port_file = "top_portfolio{}.csv".format(date_0)
bottom_port_file = "bottom_portfolio{}.csv".format(date_0)

In [90]:
top_asset = pd.read_csv(log_directory+top_port_file)
bottom_asset = pd.read_csv(log_directory+bottom_port_file)

In [91]:
bottom_portfolio = list(bottom_asset.columns[1:])
top_portfolio = list(top_asset.columns[1:])

In [92]:
price_dic = {}
error_list = []

for ticker in top_portfolio+bottom_portfolio:
    
    try:
        price_df = get_data(ticker=ticker,
                        start_date=date_0,
                        end_date=date_1,
                        index_as_date=True,
                        interval="1d")
        
        price_dic[ticker] = price_df
    
    except:
        
        print("Error.")
        error_list.append(ticker)

In [93]:
top_portfolio_list = [price_dic[ticker] for ticker in top_portfolio]
top_portfolio_df = pd.concat(top_portfolio_list,axis=0)

bottom_portfolio_list = [price_dic[ticker] for ticker in bottom_portfolio]
bottom_portfolio_df = pd.concat(bottom_portfolio_list,axis=0)

In [94]:
top_portfolio_df["date"] = top_portfolio_df.index
top_portfolio_wide = top_portfolio_df.pivot_table(values="close",columns="ticker",index="date")

bottom_portfolio_df["date"] = bottom_portfolio_df.index
bottom_portfolio_wide = bottom_portfolio_df.pivot_table(values="close",columns="ticker",index="date")

In [95]:
top_portfolio_df["date"] = top_portfolio_df.index
top_portfolio_wide_vol = top_portfolio_df.pivot_table(values="volume",columns="ticker",index="date")

bottom_portfolio_df["date"] = bottom_portfolio_df.index
bottom_portfolio_wide_vol = bottom_portfolio_df.pivot_table(values="volume",columns="ticker",index="date")

In [96]:
top_portfolio_wide.pct_change().sum(axis=1)/10

date
2021-01-17    0.000000
2021-01-18   -0.025411
dtype: float64

In [97]:
top_portfolio_wide_vol

ticker,ANT-USD,AVAX-USD,CRU-USD,IOST-USD,MAN-USD,MASS-USD,PHA-USD,VERI-USD,XRC-USD,XSN-USD
date,,,,,,,,,,
2021-01-17,159133024,303643624,12133857,695936237,250930,1932597,19709480,177432,40475,820463
2021-01-18,77552939,144213432,3926222,370717469,193135,2340966,24687518,348981,30092,877635

In [98]:
bottom_portfolio_wide.pct_change().sum(axis=1)/10

date
2021-01-17    0.000000
2021-01-18    0.499075
dtype: float64

In [99]:
bottom_portfolio_wide_vol

ticker,ADK-USD,ARRR-USD,BPS-USD,HYC-USD,MTC1-USD,MTC2-USD,NVT-USD,NYE-USD,PHR-USD,XHV-USD
date,,,,,,,,,,
2021-01-17,1331734,1036597,1824401,854685,315029,315029,176748,15700,29444,300472
2021-01-18,1654606,819053,1722270,524531,94079,94079,104857,886853,26200,364141