In [1]:
import pandas as pd
import numpy as np

In [2]:
from src.PortfolioIndicator import PortfolioIndicator
from src.PortfolioConstructor import PortfolioConstructor

In [3]:
from scipy.stats import ttest_rel

In [4]:
def portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number):
    
    complete_ret_sub_df = universe_df.pct_change(periods=momentum_period).shift(waiting_time).dropna()
    complete_ret_sub_df_long = complete_ret_sub_df.stack()
    
    signal_df = complete_ret_sub_df_long.index.to_frame()
    signal_df.index = range(0,signal_df.shape[0])
    signal_df["momentum"] = list(complete_ret_sub_df_long)
    signal_df.columns=["date","ticker","momentum"]
    
    rebalance_date_series = list(complete_ret_sub_df.index)
    
    portfolio_indicator = PortfolioIndicator()
    portfolio_indicator = portfolio_indicator.create_indicator(signal_df,"momentum",rebalance_date_series,portfolio_number)
    
    complete_sub_df_1 = universe_df.pct_change().dropna()
    complete_sub_df_1_long = complete_sub_df_1.stack()
    
    index_df = complete_sub_df_1_long.index.to_frame()
    index_df["ret"] = complete_sub_df_1_long
    index_df.index=range(0,index_df.shape[0])
    index_df.columns = ["date","ticker","ret"]
    return_df = index_df
    
    merge_df = return_df.merge(portfolio_indicator,on=["date","ticker"])
    
    portfolio_constructor = PortfolioConstructor(merge_df)
    strategy_ret_df = portfolio_constructor.create_portfolio_series("momentum_indicator",equal_weight=True)
    
    return strategy_ret_df

In [5]:
df = pd.read_csv("data/yahoo_finance_data.csv")

In [6]:
df["date"] = pd.to_datetime(df["date"])

In [7]:
vol_df = df.pivot_table(columns="ticker",values="volume",index="date")
price_df = df.pivot_table(columns="ticker",values="price",index="date")

### Volume Filter

In [8]:
momentum_period = 3
waiting_time = 1
portfolio_number = 3

In [9]:
volume_threshold = 100

In [10]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_100 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

93
initialized.

In [11]:
volume_threshold = 1000

In [12]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_1000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

85
initialized.

In [13]:
volume_threshold = 10000

In [14]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_10000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

71
initialized.

In [15]:
volume_threshold = 20000

In [16]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_20000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

68
initialized.

In [17]:
volume_threshold = 30000

In [18]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_30000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

67
initialized.

In [19]:
volume_threshold = 40000

In [20]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_40000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

64
initialized.

In [21]:
volume_threshold = 50000

In [22]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_50000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

61
initialized.

In [23]:
volume_threshold = 100000

In [24]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_100000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

56
initialized.

In [25]:
volume_threshold = 500000

In [26]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_500000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

33
initialized.

In [27]:
volume_threshold = 1000000

In [28]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_1000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

28
initialized.

In [29]:
volume_threshold = 2000000

In [30]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_2000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

23
initialized.

In [31]:
volume_threshold = 3000000

In [32]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_3000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

19
initialized.

In [33]:
volume_threshold = 10000000

In [34]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_10000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

16
initialized.

In [35]:
volume_threshold = 50000000

In [36]:
asset_list = list(vol_df.min()[vol_df.min()>volume_threshold].index)
updated_price_df = price_df[asset_list]
print(len(asset_list))

universe_df = updated_price_df
port_ret_df_50000000 = portfolio_return(universe_df,momentum_period,waiting_time,portfolio_number)

10
initialized.

### Comparison of Portfolio Performance

#### Bacis Comparision

In [37]:
port_ret_df_100.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.002534     0.000278    -0.001742
std                    0.047020     0.046415     0.046394
min                   -0.408573    -0.426765    -0.398829
25%                   -0.016224    -0.018110    -0.021262
50%                    0.005564     0.003129     0.001739
75%                    0.025560     0.022742     0.021600
max                    0.240545     0.201838     0.159191

In [38]:
port_ret_df_1000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.001681     0.000464    -0.001137
std                    0.047351     0.046814     0.046891
min                   -0.411503    -0.429251    -0.393732
25%                   -0.017666    -0.018608    -0.021745
50%                    0.004802     0.003774     0.001679
75%                    0.024610     0.023242     0.022043
max                    0.222816     0.201612     0.169891

In [39]:
port_ret_df_10000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000766     0.000629    -0.000824
std                    0.048110     0.047374     0.047267
min                   -0.428008    -0.400744    -0.408971
25%                   -0.018606    -0.018777    -0.021501
50%                    0.004126     0.004123     0.002791
75%                    0.023482     0.023734     0.022359
max                    0.250404     0.186544     0.178972

In [43]:
port_ret_df_20000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000724     0.000524    -0.000691
std                    0.048238     0.047350     0.047285
min                   -0.422627    -0.401996    -0.408633
25%                   -0.018829    -0.018892    -0.022467
50%                    0.003577     0.003776     0.002871
75%                    0.023699     0.023486     0.022269
max                    0.221828     0.186287     0.176607

In [44]:
port_ret_df_30000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000551     0.000435    -0.000535
std                    0.048192     0.047256     0.047403
min                   -0.419029    -0.400542    -0.411920
25%                   -0.018661    -0.019232    -0.022533
50%                    0.003381     0.003349     0.002757
75%                    0.023711     0.023089     0.022722
max                    0.220417     0.192430     0.176701

In [45]:
port_ret_df_40000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000392     0.000345    -0.000374
std                    0.048058     0.047120     0.047305
min                   -0.424579    -0.394196    -0.412677
25%                   -0.019204    -0.019644    -0.021957
50%                    0.003684     0.003497     0.002480
75%                    0.022991     0.022860     0.022933
max                    0.218899     0.189007     0.180346

In [46]:
port_ret_df_50000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000305     0.000331    -0.000221
std                    0.048008     0.047106     0.047188
min                   -0.421178    -0.391872    -0.408577
25%                   -0.019007    -0.018859    -0.021649
50%                    0.003846     0.003709     0.002747
75%                    0.022869     0.022995     0.023641
max                    0.217462     0.189208     0.183768

In [47]:
port_ret_df_100000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                   0.000250     0.000338    -0.000267
std                    0.048287     0.047240     0.047685
min                   -0.403325    -0.396391    -0.412468
25%                   -0.019663    -0.019348    -0.022515
50%                    0.003490     0.003844     0.002191
75%                    0.023388     0.023445     0.023883
max                    0.216824     0.188022     0.186287

In [48]:
port_ret_df_2000000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                  -0.000644    -0.000002     0.001495
std                    0.047634     0.046389     0.046419
min                   -0.365101    -0.330029    -0.381372
25%                   -0.019929    -0.019810    -0.020381
50%                    0.001437     0.001000     0.001768
75%                    0.022655     0.021577     0.023790
max                    0.229503     0.191276     0.179156

In [49]:
port_ret_df_3000000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                  -0.000619    -0.000063     0.001518
std                    0.047569     0.046530     0.046701
min                   -0.355893    -0.322727    -0.384466
25%                   -0.020317    -0.019743    -0.019945
50%                    0.001826     0.001518     0.002247
75%                    0.022813     0.022199     0.023608
max                    0.213724     0.176807     0.180795

In [50]:
port_ret_df_10000000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                  -0.000673    -0.000080     0.001528
std                    0.047220     0.046068     0.047258
min                   -0.376694    -0.301360    -0.394049
25%                   -0.019257    -0.019716    -0.019664
50%                    0.001090     0.000098     0.001698
75%                    0.021128     0.022694     0.023736
max                    0.217531     0.194376     0.198230

In [51]:
port_ret_df_50000000.describe()

momentum_indicator            0            1            2
count               1093.000000  1093.000000  1093.000000
mean                  -0.000483     0.000226     0.001100
std                    0.046190     0.044932     0.046106
min                   -0.395775    -0.237627    -0.388947
25%                   -0.017335    -0.018900    -0.019055
50%                    0.000656    -0.000152     0.001797
75%                    0.019074     0.021099     0.018913
max                    0.269159     0.263054     0.248385

#### Sharpe Ratio

In [52]:
port_ret_df_100.mean()/port_ret_df_100.std()

momentum_indicator
0    0.053895
1    0.005991
2   -0.037537
dtype: float64

In [53]:
port_ret_df_1000.mean()/port_ret_df_1000.std()

momentum_indicator
0    0.035508
1    0.009902
2   -0.024239
dtype: float64

In [54]:
port_ret_df_10000.mean()/port_ret_df_10000.std()

momentum_indicator
0    0.015925
1    0.013282
2   -0.017442
dtype: float64

In [55]:
port_ret_df_20000.mean()/port_ret_df_20000.std()

momentum_indicator
0    0.015008
1    0.011059
2   -0.014613
dtype: float64

In [56]:
port_ret_df_30000.mean()/port_ret_df_30000.std()

momentum_indicator
0    0.011425
1    0.009202
2   -0.011292
dtype: float64

In [57]:
port_ret_df_40000.mean()/port_ret_df_40000.std()

momentum_indicator
0    0.008164
1    0.007312
2   -0.007907
dtype: float64

In [58]:
port_ret_df_50000.mean()/port_ret_df_50000.std()

momentum_indicator
0    0.006360
1    0.007032
2   -0.004677
dtype: float64

In [59]:
port_ret_df_100000.mean()/port_ret_df_100000.std()

momentum_indicator
0    0.005169
1    0.007154
2   -0.005598
dtype: float64

In [60]:
port_ret_df_500000.mean()/port_ret_df_500000.std()

momentum_indicator
0   -0.005949
1    0.002859
2    0.012744
dtype: float64

In [61]:
port_ret_df_1000000.mean()/port_ret_df_1000000.std()

momentum_indicator
0   -0.009681
1    0.002886
2    0.022500
dtype: float64

In [62]:
port_ret_df_2000000.mean()/port_ret_df_2000000.std()

momentum_indicator
0   -0.013513
1   -0.000033
2    0.032200
dtype: float64

In [63]:
port_ret_df_3000000.mean()/port_ret_df_3000000.std()

momentum_indicator
0   -0.013021
1   -0.001343
2    0.032508
dtype: float64

#### T-test

In [64]:
test_df = port_ret_df_50000000

In [65]:
ttest_rel(test_df[0],test_df[1])

Ttest_relResult(statistic=-0.9704121245346881, pvalue=0.3320559948557057)

In [66]:
ttest_rel(test_df[1],test_df[2])

Ttest_relResult(statistic=-1.0032652199526988, pvalue=0.3159551686301592)

In [67]:
ttest_rel(test_df[0],test_df[2])

Ttest_relResult(statistic=-1.73975638051256, pvalue=0.08218354789403066)

### Double Sort Method

In [68]:
universe_df = price_df

In [12]:
complete_ret_sub_df = universe_df.pct_change(periods=momentum_period).shift(waiting_time).dropna()
complete_ret_sub_df_long = complete_ret_sub_df.stack()

In [13]:
volume_df = df[["date","ticker","volume"]]
volume_df = volume_df.set_index(["date","ticker"])["volume"]

In [14]:
signal_df = pd.concat([complete_ret_sub_df_long,volume_df],axis=1).dropna()
signal_df.columns = ["momentum","volume"]

index_df = signal_df.index.to_frame()
index_df.index = range(0,index_df.shape[0])

signal_df.index = range(0,signal_df.shape[0])

index_df["momentum"] = signal_df["momentum"]
index_df["volume"] = signal_df["volume"]

signal_df = index_df

In [15]:
rebalance_date_series = list(signal_df["date"])

In [18]:
signal_df

             date    ticker  momentum       volume
0      2018-01-02   ADA-USD  0.012453  289712000.0
1      2018-01-02   ADX-USD  0.114517   36135500.0
2      2018-01-02    AE-USD -0.015999    2867610.0
3      2018-01-02   ANT-USD  0.098899    3763910.0
4      2018-01-02  ARDR-USD -0.065361   35898800.0
...           ...       ...       ...          ...
112479 2021-01-03   XVG-USD  0.010035   23389208.0
112480 2021-01-03   XZC-USD -0.012876    3361756.0
112481 2021-01-03   ZEC-USD  0.017821  723282432.0
112482 2021-01-03   ZEN-USD -0.004642   20377882.0
112483 2021-01-03   ZRX-USD -0.038934   71434048.0

[112484 rows x 4 columns]

In [20]:
portfolio_indicator = PortfolioIndicator()

initialized.

In [21]:
port_indicator = portfolio_indicator.create_indicator_double_sort(signal_df,
                                                 signal_1_name="momentum",
                                                 signal_2_name="volume",
                                                 number_1=3,
                                                 number_2=4,
                                                 rebalance_date_series=rebalance_date_series)

In [22]:
complete_sub_df_1 = universe_df.pct_change().dropna()
complete_sub_df_1_long = complete_sub_df_1.stack()
    
index_df = complete_sub_df_1_long.index.to_frame()
index_df["ret"] = complete_sub_df_1_long
index_df.index=range(0,index_df.shape[0])
index_df.columns = ["date","ticker","ret"]
return_df = index_df

In [23]:
merge_df = return_df.merge(port_indicator,on=["date","ticker"])

In [24]:
portfolio_constructor = PortfolioConstructor(merge_df)

In [25]:
ret_df = portfolio_constructor.create_portfolio_series_double_sorting(signal_1="volume_indicator",
                                                             signal_2="momentum_indicator",
                                                             equal_weight=True,
                                                             pivot_table=True)

In [27]:
ret_df.to_csv("data/double_sort_portfolio_ret.csv")

In [30]:
ret_df.mean()/ret_df.std()

volume_indicator  momentum_indicator
0                 0                     0.093118
                  1                    -0.060330
                  2                    -0.231229
1                 0                     0.033682
                  1                    -0.018157
                  2                    -0.119372
2                 0                     0.047298
                  1                     0.067116
                  2                    -0.031842
3                 0                     0.053287
                  1                     0.050379
                  2                     0.126838
dtype: float64