In [2]:
import pandas as pd
import numpy as np

In [6]:
data_directory = "data/"
file = "yahoo_finance_crypto_price_df.csv"

In [11]:
df = pd.read_csv(data_directory+file)
df["date"] = pd.to_datetime(df["date"])

In [14]:
price_df = df.pivot_table(values="close",columns="ticker",index="date")

In [79]:
vol_df = df.pivot_table(values="volume",columns="ticker",index="date")

In [215]:
def total_vol(x):
    
    return x.dropna().sum()

def median_vol(x):
    
    return x.dropna().mean()

In [216]:
total_vol = vol_df.apply(total_vol,axis=1)

In [217]:
median_vol = vol_df.apply(median_vol,axis=1)

In [218]:
def check_vol(x):
    
    return x>median_vol

In [219]:
check_df = vol_df.apply(check_vol,axis=0)

In [220]:
vol_df_long = vol_df.stack()

In [221]:
median_vol = vol_df_long.groupby("date").median()

In [222]:
median_vol = pd.DataFrame(median_vol)

In [223]:
index_df = vol_df_long.index.to_frame()

In [224]:
index_df.index = range(0,index_df.shape[0])

In [225]:
vol_df_long.index = range(0,len(vol_df_long))

In [226]:
index_df["vol"] = vol_df_long

In [227]:
index_df

             date    ticker          vol
0      2014-09-16   BCN-USD       4200.0
1      2014-09-16   BTC-USD   21056800.0
2      2014-09-16   BTS-USD     708696.0
3      2014-09-16  DASH-USD     574556.0
4      2014-09-16   DGB-USD       2031.0
...           ...       ...          ...
216194 2021-01-03   ZEN-USD   20377882.0
216195 2021-01-03   ZIL-USD  285338816.0
216196 2021-01-03   ZNN-USD     555992.0
216197 2021-01-03   ZRX-USD   71434048.0
216198 2021-01-03   ZYN-USD     179656.0

[216199 rows x 3 columns]

In [228]:
index_df = index_df.merge(median_vol,on="date")
index_df.columns = ["date","ticker","vol","median_vol"]

In [229]:
index_df = index_df[index_df["vol"]>index_df["median_vol"]]

In [230]:
index_df = index_df.iloc[:,0:-1]

In [231]:
total_vol = index_df[["date","vol"]].groupby("date").sum()

In [232]:
index_df = index_df.merge(total_vol,left_on="date",right_index=True)

In [233]:
index_df["weight"] = index_df["vol_x"]/index_df["vol_y"]

In [234]:
weight_df = index_df[["date","ticker","weight"]]

In [235]:
weight_df

             date    ticker    weight
1      2014-09-16   BTC-USD  0.732973
2      2014-09-16   BTS-USD  0.024669
3      2014-09-16  DASH-USD  0.020000
5      2014-09-16  DOGE-USD  0.050947
7      2014-09-16   IOC-USD  0.000983
...           ...       ...       ...
216192 2021-01-03   ZEC-USD  0.002574
216193 2021-01-03   ZEL-USD  0.000004
216194 2021-01-03   ZEN-USD  0.000073
216195 2021-01-03   ZIL-USD  0.001015
216197 2021-01-03   ZRX-USD  0.000254

[107593 rows x 3 columns]

In [236]:
ret_df = price_df.pct_change()
ret_df_long = ret_df.stack()

In [237]:
index_df = ret_df_long.index.to_frame()

In [238]:
index_df["ret"] = ret_df_long

In [239]:
index_df.index = range(0,index_df.shape[0])

In [240]:
ret_df_long = index_df

In [241]:
merge_df = ret_df_long.merge(weight_df,on=["date","ticker"])

In [242]:
merge_df["weighted_ret"] = merge_df["ret"] *  merge_df["weight"]

In [243]:
index_ret = merge_df[["date","weighted_ret"]].groupby(["date"]).sum()

In [244]:
index_ret = index_ret.dropna()

In [245]:
right_index_ret = index_ret[index_ret["weighted_ret"]<1]

In [247]:
right_index_ret.describe()

       weighted_ret
count   2293.000000
mean       0.007223
std        0.042943
min       -0.218728
25%       -0.009607
50%        0.003917
75%        0.020718
max        0.736169

In [248]:
(right_index_ret+1).cumprod()

            weighted_ret
date
2014-09-17  9.400506e-01
2014-09-18  8.749459e-01
2014-09-19  8.992923e-01
2014-09-20  8.783519e-01
2014-09-21  8.873118e-01
...                  ...
2020-12-30  1.810260e+06
2020-12-31  1.818564e+06
2021-01-01  1.831635e+06
2021-01-02  1.929593e+06
2021-01-03  2.023342e+06

[2293 rows x 1 columns]